{% extends "main.html" %}
{% block content %}
<div class="section py-5" id="divShow">
    <div class="container py-3">
      <div class="row">
        <div class="col-lg-5 d-flex align-items-center justify-content-center justify-content-lg-start">
          <img src="data:image/png;base64,{{movie.image_bin.encode('base64')}}" alt="" class="img-fluid col-12 ">
        </div>
        <div class="col-lg-7 d-flex flex-column align-items-stretch">
          <div class="content pl-lg-4 d-flex flex-column justify-content-center">
            <div class="row mt-n4">
              <div class="col-md-12 mt-4 d-md-flex align-items-md-stretch">
                <div class="count-box justify-content-center title">
                  <h1>{{ movie.title }}</h1>
                </div>
              </div>
              <div class="col-md-12 mt-4 d-md-flex align-items-md-stretch">
                <div class="count-box title">
                  <p>{{ movie.synopsis }}</p>
                </div>
              </div>

              <div class="col-6 mt-4 d-flex align-items-center justify-content-center">
                <div class="count-box">
                  <i class="fas fa-list icon" id="category"></i>
                  <span class="icon ml-2" data-toggle="counter-up">Director</span>
                  <p>{{ movie.director }}</p>
                </div>
              </div>

              <div class="col-6 mt-4 d-flex align-items-center justify-content-center">
                <div class="count-box">
                    <i class="fas fa-user icon" id="creator"></i>
                  <span class="icon ml-2" data-toggle="counter-up">Género</span>
                  <p>{{ movie.genre }}</p>
                </div>
              </div>

              <div class="col-12 mt-4 d-flex align-items-center justify-content-center">
                <div class="count-box">
                    <i class="fas fa-calendar-alt icon" id="date"></i>
                  <span class="icon ml-2" data-toggle="counter-up">Año de estreno</span>
                  <p>{{ movie.year }}</p>
                </div>
              </div>

            </div>
          </div>
          <div class="m-2 d-flex justify-content-end">
              {% if movie.key.urlsafe() != mymovies.movie %}
              <button type="button" class="btn btn-outline-success col-3" onclick="window.location.href = '/addMovieList?idMovie={{movie.key.urlsafe()}}';">Añadir a mi lista</button>
              {% else %}
              <button type="button" class="btn btn-outline-danger col-3" onclick="window.location.href = '/addMovieList?idMovie={{movie.key.urlsafe()}}';">Eliminar de mi lista</button>
              {% endif %}
              <button type="button" class="btn btn-outline-primary col-3 ml-2">Atrás</button>
          </div>
        </div>

        <div class="col-12 mt-5 mb-3">
          <form method="post"
                action="/addComment?idMovie={{movie.key.urlsafe()}}">
            <div class="form-group">
              <label class="mb-3" for="commentMovie"><h6>Deja aquí tu comentario</h6></label>
              <textarea class="form-control" id="commentMovie" rows="5" placeholder="..." name="commentMovie" required></textarea>
            </div>
            <div class="m-2">
              <button type="submit" class="btn btn-primary col-md-1 col-3">Enviar</button>
          </div>
          </form>
        </div>

        <div class="col-12 mt-4 mb-4">
          {% if comments.count() > 0 %}
          {% for comment in comments %}
          <div class="col-12 mb-3 pt-3 pb-2 comentsMovie">
            <div class="col-12 d-flex justify-item-center">
              <span class="fa-stack fa-1x"><i class="fas fa-circle fa-stack-2x text-dark"></i><i class="fas fa-user fa-stack-1x fa-inverse"></i></span>
              <h5 class="col-6 d-inline">{{ comment.user }}</h5>
              <div class="d-flex justify-item-center justify-content-end col-5 mt-2">
                <h6 >{{comment.added}}</h6>
              </div>
            </div>
            <div class="col-12 mt-2 ml-5">
              <p>{{ comment.content }}</p>
            </div>
          </div>
          {% endfor %}
        {% endif %}
        </div>

      </div>
    </div>
  </div>

{% endblock %}